    .body {
        background-color: rgb(200, 206, 216);
        margin: 0 auto;
    }

    .img {
        border: 2px solid black;
    }

    .my-button:hover {
        background-color: #1d221d;
    }

    p.thick {
        font-weight: bold;
    }