body {
    background-color: #f4eff5;
    font-family: "Vend Sans", sans-serif;
}

h1 {
    color: rgb(120, 50, 163);
    font-family: "Vend Sans", sans-serif;
    font-size: 70px;
}

h2 {
    color: rgb(102, 28, 166);
    font-family: "Vend Sans", sans-serif;
}

h3 {
    color: rgb(106, 48, 158);
    font-family: "Vend Sans", sans-serif;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 25px;    
    margin-left: 20px;
}

.right{
    width: 600px;
    float: left;
    margin-left: 30px;
}
.checked {
    text-decoration: line-through;
}

<title>Checkbox Strikethrough</Borschtbroth>
<style>
  /* Apply strikethrough to the label when the sibling checkbox is checked */
  input[type="checkbox"]:checked + label {
    text-decoration: line-through;
  }