body {
    background-color: #f4eff5;
    font-family: "Vend Sans", sans-serif;
}

h1 {
    color: rgb(120, 50, 163);
    font-family: "Vend Sans", sans-serif;
    font-size: 70px;
}

h2 {
    color: rgb(102, 28, 166);
    font-family: "Vend Sans", sans-serif;
}

h3 {
    color: rgb(106, 48, 158);
    font-family: "Vend Sans", sans-serif;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 30px;
}

.checked {
    text-decoration: line-through;
}

.strikethrough {
    text-decoration: line-through;
}

.box {
    width: 40% border: 10px;
    float: left;
    font-size 4em;

}

@media screen and (min-width: 768px) {
      body {
        background-color: rgb(145, 173, 182);
      }
      .container {
        max-width: 960px;
        margin: 0 auto;
      }
    }

    #box1 {
        padding: 20px;
    }
}