body {
    background-color: #f4eff5;
    font-family: "Georgia", serif;
}

h1 {
    color: rgb(232, 228, 234);
    font-family: "Georgia", serif;
    font-size: 70px;
}

h2 {
    color: rgb(237, 233, 239);
    font-family: "Georgia", serif;
}

h3 {
    color: rgb(225, 223, 227);
    font-family: "Georgia", serif;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 30px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.checked {
    text-decoration: line-through;
}

.strikethrough {
    text-decoration: line-through;
}

.box {
    width: 40% border: 10px;
    float: left;
    font-size 4em;

}

@media all and (min-width: 768px) {
      body {
        background-color: rgb(145, 173, 182);
      }
      .container {
        max-width: 960px;
        margin: 0 auto;
      }
    }

    #box1 {
        padding: 20px;
    }
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #3f3b46;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}