body {
    background-color: #f4eff5;
    font-family: "Georgia", serif;
}

h1 {
    color: rgb(232, 228, 234);
    font-family: "Georgia", serif;
    font-size: 70px;
}

h2 {
    color: rgb(237, 233, 239);
    font-family: "Georgia", serif;
}

h3 {
    color: rgb(225, 223, 227);
    font-family: "Georgia", serif;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 30px;
}

.checked {
    text-decoration: line-through;
}

.strikethrough {
    text-decoration: line-through;
}

.box {
    width: 40% border: 10px;
    float: left;
    font-size 4em;

}

@media all and (min-width: 768px) {
      body {
        background-color: rgb(145, 173, 182);
      }
      .container {
        max-width: 960px;
        margin: 0 auto;
      }
    }

    #box1 {
        padding: 20px;
    }
}