body {
    background-color: rgb(145, 173, 182);
    font-family: "Georgia", serif;
}

h1 {
    color: rgb(232, 228, 234);
    font-family: "Georgia", serif;
    font-size: 70px;
}

h2 {
    color: rgb(237, 233, 239);
    font-family: "Georgia", serif;
}

h3 {
    color: rgb(225, 223, 227);
    font-family: "Georgia", serif;
}

p {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}

.right {
    width: 600px;
    float: left;
    margin-left: 30px;
}

.bottom {
    float: left;

}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.checked {
    text-decoration: line-through;
}

.strikethrough {
    text-decoration: line-through;
}

.box {
    width: 40%;
    border: 10px;
    float: left;
    font-size: 4em;

}

#box1 {
    padding: 20px;
}


.topnav {
    /*background-color: #333;*/
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #3f3b46;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}


/* Style the form element with a border around it 
form {
    border: 4px solid #000000;

}
*/
/* Add some padding and a grey background color to containers */
.container {
    padding: 20px;
    /*background-color: #181515;*/
}

/* Style the input elements and the submit button */
input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
    background-color: #718697;
    color: rgb(0, 0, 0);
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* Style all font icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect*/
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each icon */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #f2f4f8;
    color: rgb(0, 0, 0);
}