@import "tailwindcss";

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  color: white;
  background: linear-gradient(
    90deg,
    rgb(201, 66, 195) 0%,
    rgb(72, 4, 121) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  filter: drop-shadow(10px 10px 4px #000000);
}

.container > .topSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.topSection img {
  width: 200px;

}

.middleSection {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.middleSection p {
  font-size: 3rem;
  font-family: "Jersey 10", sans-serif;
  transition: all 0.3s ease-in-out;
}


.middleSection button {
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
  color: black;
}

.middleSection input {
  border: black;
  background-color: white;
  color: black;

}

.middleSection button:hover {
  filter: drop-shadow(0 0 14px #000000);
}