@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pirata+One&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: linear-gradient(
90deg,
rgba(#004238, #89c7a4, #87bbd9, #a44d8e, #fde7ec) 0%,
rgba(#004238, #91b3c7, #9c90c0, #c982b9, #b9c5a0) 100%
    );
    height: 150vh;





}



  /*font-family: "Vend Sans", sans-serif;
  font-family: "Pirata One", system-ui;
   font-family: "Jersey 10", sans-serif;
