@import "tailwindcss";

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  color: white;
  background: linear-gradient(
    90deg,
    rgb(201, 66, 195) 0%,
    rgb(72, 4, 121) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  filter: drop-shadow(10px 10px 4px #000000);
}

.container > .topSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.middleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}


.middleSection p {
  font-size: 3rem;
  font-family: "Jersey 10", sans-serif;
  transition: all 0.3s ease-in-out;
}
.middleSection p:nth-child(3) {
  margin-top: 20px;
  font-size: 2rem;
  font-family: "Jersey 10", sans-serif;
  transition: all 0.3s ease-in-out;
}


.middleSection button {
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}







#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
