body {
  background-color: rgb(255, 255, 255);
}

h1 {
  background-color: rgb(170, 165, 165);
}

.centered-header {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

